@model WebScoket.Models.CraftWork

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CraftWorkCreate</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("CraftWorkCreate", "Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CraftWork</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ItemNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ItemNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ItemNum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CraftDescribe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CraftDescribe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CraftDescribe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                工艺图1
                <div class="col-md-10" style="max-width:400px;">
                    <input type="file" name="file1" id="up1" />
                    <div>
                        <img id="ImgPr1" style="width:100%" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                工艺图2
                <div class="col-md-10" style="max-width:400px;">
                    <input type="file" name="file2" id="up2" />
                    <div>
                        <img id="ImgPr2" style="width:100%" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                工艺图3
                <div class = "col-md-10" style="max-width:400px;">
                    <input type="file" name="file3" id="up3" />
                    <div>
                        <img id="ImgPr3" style="width:100%" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script>
        $(function () {
            $("#up1").uploadPreview({ Img: "ImgPr1" });
        });
        $(function () {
            $("#up2").uploadPreview({ Img: "ImgPr2" });
        });
        $(function () {
            $("#up3").uploadPreview({ Img: "ImgPr3" });
        });

        jQuery.fn.extend({
            uploadPreview: function (opts) {
                var _self = this,
                    _this = $(this);
                opts = jQuery.extend({
                    ImgType: ["gif", "jpeg", "jpg", "bmp", "png"],
                    Callback: function () { }
                }, opts || {});
                _self.getObjectURL = function (file) {
                    var url = null;
                    if (window.createObjectURL != undefined) {
                        url = window.createObjectURL(file)
                    } else if (window.URL != undefined) {
                        url = window.URL.createObjectURL(file)
                    } else if (window.webkitURL != undefined) {
                        url = window.webkitURL.createObjectURL(file)
                    }
                    return url
                };
                _this.change(function () {
                    if (this.value) {
                        if (!RegExp("\.(" + opts.ImgType.join("|") + ")$", "i").test(this.value.toLowerCase())) {
                            alert("选择文件错误,图片类型必须是" + opts.ImgType.join("，") + "中的一种");
                            this.value = "";
                            return false
                        }
                        if (!$.support.leadingWhitespace) {
                            try {
                                $("#" + opts.Img).attr('src', _self.getObjectURL(this.files[0]))
                            } catch (e) {
                                var src = "";
                                var obj = $("#" + opts.Img);
                                var div = obj.parent("div")[0];
                                _self.select();
                                if (top != self) {
                                    window.parent.document.body.focus()
                                } else {
                                    _self.blur()
                                }
                                src = document.selection.createRange().text;
                                document.selection.empty();
                                obj.hide();
                                obj.parent("div").css({
                                    'filter': 'progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)',
                                    'width': opts.Width + 'px',
                                    'height': opts.Height + 'px'
                                });
                                div.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = src
                            }
                        } else {
                            $("#" + opts.Img).attr('src', _self.getObjectURL(this.files[0]))
                        }
                        opts.Callback()
                    }
                })
            }
        });

    </script>
</body>
</html>
